.button {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;

  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;

  border-radius: 3px;
}
